body {
    background-image: url(https://media.istockphoto.com/id/92172880/photo/close-up-of-blank-check-us-bills-coins-calculator-and-pen.jpg?s=612x612&w=0&k=20&c=AMMjwV4CEK7NrznboVoHBlmWA4oWOLXFb_xrN52idIk=);
background-size: cover;
background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
}

.Container {
    border: 2px solid black;
    padding: 20px;
    width: 500px;
    /* display: block; */
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 30px;
    background: #000;
    flex-wrap: wrap;
}

input {
    width: 500px;
    height: 35px;
    text-align: right;
    font-size: 28px;
}

button {
    margin-top: 30px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    background: #ffff00;
    font-weight: 600;
    font-size: 24px;
}

.button {
    margin: auto;

}

.buttonItem {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.variable{
    background: rgb(88, 168, 234);
}
.clear{
    background: rgb(255, 132, 0);
}
.number{
    background-color: rgb(118, 117, 117);
    color: white;
}