* {
  margin: 0px;
  padding: 0px;
}

.main-div {
  margin: 50px;

}

.data {
  padding: 50px;
}

.container {
  width: 50% !important;
  margin: auto;
  background-color: rgba(239, 241, 236, 0.554);
  text-align: center;
  padding: 20px;
  border: 10px solid blue;
  border-radius: 20px;
  background-color: black;
  color: red;
  height: 500px 100%;
}

button {
  width: 100%;
  border-radius: 15px;
  display: block;
  margin: auto;
}

.btn-btn-primary {
 color: black;
 font-weight: 500;
 font-size: 24px;
 height: 39px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(225, 225, 68);
}

.btn_btn-primary {
 color: black;
 font-weight: 500;
 font-size: 24px;
 height: 39px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(0, 191, 255);
}

input {
  text-align: right;
}